@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f2f3f5;
  --color-gainsboro: #e3e3e3;
  --color-dimgray: #656f79;
  --color-gray-100: #04111d;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-5xl-3: 24.3px;
  --padding-6xl: 25px;
  --padding-7xs: 6px;
  --padding-base: 16px;

  /* border radiuses */
  --br-5xl: 24px;
}