/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/Authbar/Authbar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Authbar_auth_container__OeK_x {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Authbar_profile_btn___NPID{
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 9px 10px;
    /* width: 100px; */
    height: 42px;
    display: flex;
    /* justify-content: bas; */
    align-items: center;
    border: 1px solid #E3E3E3;
    border-radius: 12px;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #656F79;
}

.Authbar_profile_icon__QhXXZ{
    margin-right: 8px;
    display: flex;
}

.Authbar_login_btn__2fQkI {
  margin-right: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14px;
  color: #656f79;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: transparent;
}

.Authbar_signup_btn__TZlVh {
  max-height: 40px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 9px 24px 9px 25px;
  background: #f2f3f5;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14px;
  color: #656f79;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/Navbar/Navbar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navbar_container__8OiKa{
    padding-top: 15px;
    /* padding-bottom: 14px; */
}

.Navbar_nav_list__fSdZK{
    display: flex;
    align-items: center;
}

.Navbar_nav_item__S3lly{
    margin-right: 8px;
    padding: 9px 25px 9px 25px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 24px;
    box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
}

.Navbar_nav_item__S3lly:last-of-type{
    margin-right: 0;
}

.Navbar_nav_link__HHVzX{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    letter-spacing: 0.14px;
    color: #656F79;
    text-decoration: none;
}


/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/Header/Header.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Header_header_container__xB7mm {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  /* padding-bottom: 13px; */
  padding-left: 15px;
  padding-right: 15px;
}

.Header_logo_auth_container__QXDZh {
  display: flex;
  align-items: center;
}

.Header_burger_btn__BClpU {
  margin-right: 13px;
  border: none;
  background-color: transparent;
}

.Header_logo_text__8vzjg {
  margin-right: 47px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #04111d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Header_search_btn__NpPTe {
  width: 156px;
  height: 46px;
  margin-right: 25px;
  padding: 12px 27px 15px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
  border-radius: 24px;
  border: none;
}

.Header_search_btn_text__m2G2I {
  margin-right: 6px;
  margin-left: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #656f79;
}

.Header_search_input__18lFA {
margin-right: 37px;
  padding: 20px;
  width: 676px;
  height: 46px;
  background: #ffffff;
  box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
  border-radius: 24px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #656f79;
}

.Header_search_icon__XT7FM {
  position: absolute;
  top: 24px;
  right: 400px;
  z-index: 2;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/Menu/Menu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Menu_menu_list__5x_SU{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
}

.Menu_menu_item__IQfSL{
    padding: 20px 15px 20px 15px;
}

.Menu_menu_item__IQfSL:first-of-type{
    padding-top: 0px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/Modal/Modal.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Modal_backdrop__Y2_mV {
  position: fixed;
  overscroll-behavior: none;
  overflow: scroll;
  top: 0px;
  left: 0px;
  z-index: 30;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.Modal_window__2PF0A {
  position: relative;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-color: white; */
  height: auto;
  width: auto;
  border-radius: 40px;
  /* ::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #f59256;
    border-radius: 50px;
  } */
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/ImageList/ImageList.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.ImageList_images_container__BPUNY{
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.ImageList_image_list__xh6i5{
    columns: 6;
    column-gap: 15px;
}

.ImageList_image_list_item__nWCkn{
    /* width: 235px; */
    margin: 0 1rem 1rem 0;
    border-radius: 20%;
    /* display: inline-block; */
    width: 100%;
}

.ImageList_image__NwJms{
    border-radius: 15px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_title__jaD8y{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 48px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page_text__S77F_{
    margin-top: 36px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page_menu_hero_container__uIlre{
    /* width: 100%; */
    display: flex;
    /* justify-content: space-between; */
}

.page_hero_container__3P5ix{
    /* min-height: calc(80vh); */
    width: 100%;
    padding-top: 244px;
    padding-bottom: 259px;
    background-image: url(/_next/static/media/hero.23261699.png);
    background-repeat: no-repeat;
    background-position: top 0, left 0;
    background-size: 1450px 774px;
    text-align: center;
}

.page_input_container___qMTy{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 58px;
    padding: 16px 11px 16px 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 778px;
    height: 78px;
    background: rgba(12, 18, 28, 0.38);
    border-radius: 30px;
}

.page_search_btn__7I_de{
    width: 156px;
    height: 46px;
    margin-right: 25px;
    padding: 12px 27px 15px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
    border-radius: 24px;
    border: none;
}

.page_search_btn_text__hTY1w{
    margin-right: 6px;
    margin-left: 6px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #656F79;
}

.page_search_input__AE0cQ{
    padding: 20px;
    width: 570px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
    border-radius: 24px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #656F79;
}

.page_search_icon__jHSoG{
    position: absolute;
    top: 26px;
    right: 60px;
    z-index: 2;
}

