/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/Authbar/Authbar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Authbar_auth_container__OeK_x {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Authbar_login_btn__2fQkI {
  margin-right: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14px;
  color: #656f79;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: transparent;
}

.Authbar_signup_btn__TZlVh {
  padding: 9px 24px 9px 25px;
  background: #f2f3f5;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14px;
  color: #656f79;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/Navbar/Navbar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navbar_container__8OiKa{
    padding-top: 14px;
    padding-bottom: 14px;
}

.Navbar_nav_list__fSdZK{
    display: flex;
    align-items: center;
}

.Navbar_nav_item__S3lly{
    margin-right: 8px;
    padding: 9px 25px 9px 25px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 24px;
    box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
}

.Navbar_nav_item__S3lly:last-of-type{
    margin-right: 0;
}

.Navbar_nav_link__HHVzX{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    letter-spacing: 0.14px;
    color: #656F79;
    text-decoration: none;
}


/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/components/Header/Header.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Header_header_container__xB7mm {
  position: relative;
  padding-top: 13px;
  /* padding-bottom: 13px; */
  padding-left: 12px;
}

.Header_logo_auth_container__QXDZh {
  display: flex;
  align-items: center;
}

.Header_burger_btn__BClpU {
  margin-right: 13px;
  border: none;
  background-color: transparent;
}

.Header_logo_text__8vzjg {
  margin-right: 47px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #04111d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Header_search_btn__NpPTe {
  width: 156px;
  height: 46px;
  margin-right: 25px;
  padding: 12px 27px 15px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
  border-radius: 24px;
  border: none;
}

.Header_search_btn_text__m2G2I {
  margin-right: 6px;
  margin-left: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #656f79;
}

.Header_search_input__18lFA {
margin-right: 37px;
  padding: 20px;
  width: 676px;
  height: 46px;
  background: #ffffff;
  box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
  border-radius: 24px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #656f79;
}

.Header_search_icon__XT7FM {
  position: absolute;
  top: 24px;
  right: 350px;
  z-index: 2;
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_title__jaD8y{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 48px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page_text__S77F_{
    margin-top: 36px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page_hero_container__3P5ix{
    /* min-height: calc(80vh); */
    padding-top: 244px;
    padding-bottom: 295px;
    background-image: url(/_next/static/media/hero.23261699.png);
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 1450px 744px;
    text-align: center;
}

.page_input_container___qMTy{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 58px;
    padding: 16px 11px 16px 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 778px;
    height: 78px;
    background: rgba(12, 18, 28, 0.38);
    border-radius: 30px;
}

.page_search_btn__7I_de{
    width: 156px;
    height: 46px;
    margin-right: 25px;
    padding: 12px 27px 15px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
    border-radius: 24px;
    border: none;
}

.page_search_btn_text__hTY1w{
    margin-right: 6px;
    margin-left: 6px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #656F79;
}

.page_search_input__AE0cQ{
    padding: 20px;
    width: 570px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
    border-radius: 24px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #656F79;
}

.page_search_icon__jHSoG{
    position: absolute;
    top: 26px;
    right: 60px;
    z-index: 2;
}

